## Here i performed content based filtering here i recomended posts for a particular user 
## based on his own previous choices

In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_users = pd.read_csv('users.csv')
df_posts = pd.read_csv('posts.csv')
df_views = pd.read_csv('views.csv')

In [3]:
df_posts.columns=["post_id","title","category","post_type"]
df_posts=df_posts.dropna(how='any',axis=0) 
df_posts

,post_id,title,category,post_type
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog
3,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork
4,5d80dfbc6c53455f896e600e,How Competition law evolved?,Competition Laws,blog
...,...,...,...,...
487,5ed3476576027d35905cca1d,AWS CLI Setup in Mac,Technology,skill
488,5ed3791976027d35905ccab6,CI/CD using GitHub Actions,Computer Technology|Information Technology,blog
489,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog
491,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill
492,5ed4cbadbd514d602c1531a6,Configure CI/CD Pipeline in GitLab and deploym...,Computer Technology|Computer Application|Infor...,blog

In [4]:
df_views

,user_id,post_id,timestamp
0,5df49b32cc709107827fb3c7,5ec821ddec493f4a2655889e,2020-06-01T10:46:45.131Z
1,5ed3748576027d35905ccaab,5ed4cbadbd514d602c1531a6,2020-06-01T09:39:20.021Z
2,5ed0defa76027d35905cc2de,5eac305f10426255a7aa9dd3,2020-06-01T08:12:42.682Z
3,5ed0defa76027d35905cc2de,5ed1ff0276027d35905cc60d,2020-06-01T08:10:23.880Z
4,5ed0defa76027d35905cc2de,5ed3820f76027d35905ccac8,2020-06-01T08:08:54.124Z
...,...,...,...
1444,5d60098a653a331687083238,5e7a60edcfc8b713f5ac7d82,2020-03-26T19:03:55.284Z
1445,5d60098a653a331687083238,5e7a629ccfc8b713f5ac7d84,2020-03-26T19:01:42.384Z
1446,5d60098a653a331687083238,5e7b1e65cfc8b713f5ac7d90,2020-03-26T19:00:25.693Z
1447,5d60098a653a331687083238,5e7cc074cfc8b713f5ac7db0,2020-03-26T18:49:14.721Z
1448,5d60098a653a331687083238,5e1029f22a37d20505da2a79,2020-03-26T18:25:45.637Z

In [5]:
df_users.columns=["user_id","name","gender","academics"]
df_users

                      user_id                  name  gender      academics
0    5d60098a653a331687083238  Nivesh Singh Chauhan    male  undergraduate
1    5d610ae1653a331687083239         Gaurav Sharma    male       graduate
2    5d618359fc5fcf3bdd9a0910         Akshay Mishra    male  undergraduate
3    5d6d2bb87fa40e1417a49315        Saksham Mathur    male  undergraduate
4    5d7c994d5720533e15c3b1e9         Varun Chowhan    male  undergraduate
..                        ...                   ...     ...            ...
113  5ed35aa376027d35905cca67                 Steve    male       graduate
114  5ed3737976027d35905ccaa2        Himanshu Singh    male  undergraduate
115  5ed3748576027d35905ccaab           Parth Vijay    male  undergraduate
116  5ed3cbcbbd514d602c1530a7       Abhishek Mishra    male  undergraduate
117  5ed3e898bd514d602c1530de          gauri raskar  female       graduate

[118 rows x 4 columns]

In [6]:
df_new=df_users.merge(df_views)

In [7]:
df_new

,user_id,name,gender,academics,post_id,timestamp
0,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,5ed3820f76027d35905ccac8,2020-05-31T18:01:54.308Z
1,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,5ed1ff0276027d35905cc60d,2020-05-31T08:21:29.911Z
2,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,5ecf96e876027d35905cbf46,2020-05-29T19:13:27.566Z
3,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,5ecfa0ca76027d35905cbf57,2020-05-29T19:10:50.010Z
4,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,5ed0e20776027d35905cc2fe,2020-05-29T19:10:23.887Z
...,...,...,...,...,...,...
1444,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,5eb7b10ffd92f539c465ddda,2020-05-31T12:04:27.446Z
1445,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,5ed3820f76027d35905ccac8,2020-05-31T10:08:37.079Z
1446,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,5ed3791976027d35905ccab6,2020-05-31T10:03:30.483Z
1447,5ed3cbcbbd514d602c1530a7,Abhishek Mishra,male,undergraduate,5ed1ff0276027d35905cc60d,2020-05-31T16:16:51.523Z
1448,5ed3e898bd514d602c1530de,gauri raskar,female,graduate,5ecf818376027d35905cbf03,2020-05-31T18:56:56.215Z

In [8]:
df_posts

,post_id,title,category,post_type
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog
3,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork
4,5d80dfbc6c53455f896e600e,How Competition law evolved?,Competition Laws,blog
...,...,...,...,...
487,5ed3476576027d35905cca1d,AWS CLI Setup in Mac,Technology,skill
488,5ed3791976027d35905ccab6,CI/CD using GitHub Actions,Computer Technology|Information Technology,blog
489,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog
491,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill
492,5ed4cbadbd514d602c1531a6,Configure CI/CD Pipeline in GitLab and deploym...,Computer Technology|Computer Application|Infor...,blog

In [9]:
main_df=df_posts.merge(df_new)

In [10]:
main_df

,post_id,title,category,post_type,user_id,name,gender,academics,timestamp
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,2020-05-02T08:46:12.104Z
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,2020-04-04T10:56:43.034Z
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog,5df20f1fee4bb5252b4f5351,Aryan Malakar,male,undergraduate,2020-04-02T06:38:27.413Z
3,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog,5ea83e8810426255a7aa9bf2,Abhishek Kumar,male,undergraduate,2020-04-30T11:03:52.741Z
4,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork,5d7c994d5720533e15c3b1e9,Varun Chowhan,male,undergraduate,2020-05-30T17:36:46.331Z
...,...,...,...,...,...,...,...,...,...
1354,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,2020-06-01T08:08:54.124Z
1355,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,2020-05-31T10:08:37.079Z
1356,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill,5ecb979eeaff6b0c3a58a4f0,Kanika Sharma,female,undergraduate,2020-05-31T20:38:57.493Z
1357,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,2020-06-01T08:07:01.935Z
1358,5ed4cbadbd514d602c1531a6,Configure CI/CD Pipeline in GitLab and deploym...,Computer Technology|Computer Application|Infor...,blog,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,2020-06-01T09:39:20.021Z

In [11]:
main_df.describe()

,post_id,title,category,post_type,user_id,name,gender,academics,timestamp
count,1359,1359,1359,1359,1359,1359,1359,1359,1359
unique,465,450,231,3,116,116,3,3,1359
top,5ec1fd0974f7660d73aa0fd5,Daaku,Photography,artwork,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,2020-04-17T14:26:20.560Z
freq,18,18,241,752,221,221,935,994,1

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
def combine_features(row):
    return row['category'] +" "+row['post_type']
main_df["combined_features"] = main_df.apply(combine_features,axis=1)

In [14]:
main_df

,post_id,title,category,post_type,user_id,name,gender,academics,timestamp,combined_features
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,2020-05-02T08:46:12.104Z,Plant Biotechnology blog
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,2020-04-04T10:56:43.034Z,Artificial Intelligence|Machine Learning|Infor...
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog,5df20f1fee4bb5252b4f5351,Aryan Malakar,male,undergraduate,2020-04-02T06:38:27.413Z,Operating Systems blog
3,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog,5ea83e8810426255a7aa9bf2,Abhishek Kumar,male,undergraduate,2020-04-30T11:03:52.741Z,Operating Systems blog
4,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork,5d7c994d5720533e15c3b1e9,Varun Chowhan,male,undergraduate,2020-05-30T17:36:46.331Z,Drawings artwork
...,...,...,...,...,...,...,...,...,...,...
1354,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,2020-06-01T08:08:54.124Z,Computer Technology|Computer Application|Infor...
1355,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,2020-05-31T10:08:37.079Z,Computer Technology|Computer Application|Infor...
1356,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill,5ecb979eeaff6b0c3a58a4f0,Kanika Sharma,female,undergraduate,2020-05-31T20:38:57.493Z,Science; Technology skill
1357,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,2020-06-01T08:07:01.935Z,Science; Technology skill
1358,5ed4cbadbd514d602c1531a6,Configure CI/CD Pipeline in GitLab and deploym...,Computer Technology|Computer Application|Infor...,blog,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,2020-06-01T09:39:20.021Z,Computer Technology|Computer Application|Infor...

In [15]:
cv = CountVectorizer()

In [16]:
count_matrix = cv.fit_transform(main_df["combined_features"])

In [17]:
count_matrix

<1359x275 sparse matrix of type '<class 'numpy.int64'>'
	with 5236 stored elements in Compressed Sparse Row format>

In [18]:
cosine_sim = cosine_similarity(count_matrix)

In [19]:
cosine_sim

array([[1.        , 0.21821789, 0.33333333, ..., 0.        , 0.        ,
        0.17407766],
       [0.21821789, 1.        , 0.21821789, ..., 0.21821789, 0.21821789,
        0.45584231],
       [0.33333333, 0.21821789, 1.        , ..., 0.        , 0.        ,
        0.17407766],
       ...,
       [0.        , 0.21821789, 0.        , ..., 1.        , 1.        ,
        0.34815531],
       [0.        , 0.21821789, 0.        , ..., 1.        , 1.        ,
        0.34815531],
       [0.17407766, 0.45584231, 0.17407766, ..., 0.34815531, 0.34815531,
        1.        ]])

In [20]:
_user="Nivesh Singh Chauhan"

In [21]:
main_df['index'] = main_df.index
main_df

,post_id,title,category,post_type,user_id,name,gender,academics,timestamp,combined_features,index
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,2020-05-02T08:46:12.104Z,Plant Biotechnology blog,0
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,2020-04-04T10:56:43.034Z,Artificial Intelligence|Machine Learning|Infor...,1
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog,5df20f1fee4bb5252b4f5351,Aryan Malakar,male,undergraduate,2020-04-02T06:38:27.413Z,Operating Systems blog,2
3,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog,5ea83e8810426255a7aa9bf2,Abhishek Kumar,male,undergraduate,2020-04-30T11:03:52.741Z,Operating Systems blog,3
4,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork,5d7c994d5720533e15c3b1e9,Varun Chowhan,male,undergraduate,2020-05-30T17:36:46.331Z,Drawings artwork,4
...,...,...,...,...,...,...,...,...,...,...,...
1354,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,2020-06-01T08:08:54.124Z,Computer Technology|Computer Application|Infor...,1354
1355,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,2020-05-31T10:08:37.079Z,Computer Technology|Computer Application|Infor...,1355
1356,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill,5ecb979eeaff6b0c3a58a4f0,Kanika Sharma,female,undergraduate,2020-05-31T20:38:57.493Z,Science; Technology skill,1356
1357,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,2020-06-01T08:07:01.935Z,Science; Technology skill,1357
1358,5ed4cbadbd514d602c1531a6,Configure CI/CD Pipeline in GitLab and deploym...,Computer Technology|Computer Application|Infor...,blog,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,2020-06-01T09:39:20.021Z,Computer Technology|Computer Application|Infor...,1358

In [22]:
def get_index_from_title(title):
    return main_df[main_df.name == title]["index"].values[1]
user_index = get_index_from_title(_user)
user_index

1

In [23]:
similar_user=  list(enumerate(cosine_sim[user_index]))
similar_user

[(0, 0.2182178902359924),
 (1, 0.9999999999999997),
 (2, 0.2182178902359924),
 (3, 0.2182178902359924),
 (4, 0.0),
 (5, 0.0),
 (6, 0.0),
 (7, 0.2182178902359924),
 (8, 0.2182178902359924),
 (9, 0.2182178902359924),
 (10, 0.2182178902359924),
 (11, 0.2182178902359924),
 (12, 0.2182178902359924),
 (13, 0.2182178902359924),
 (14, 0.2182178902359924),
 (15, 0.0),
 (16, 0.0),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0),
 (20, 0.0),
 (21, 0.0),
 (22, 0.5714285714285713),
 (23, 0.0),
 (24, 0.2182178902359924),
 (25, 0.2182178902359924),
 (26, 0.2182178902359924),
 (27, 0.0),
 (28, 0.0),
 (29, 0.0),
 (30, 0.26726124191242434),
 (31, 0.0),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.2182178902359924),
 (36, 0.0),
 (37, 0.0),
 (38, 0.0),
 (39, 0.2182178902359924),
 (40, 0.0),
 (41, 0.0),
 (42, 0.2182178902359924),
 (43, 0.0),
 (44, 0.0),
 (45, 0.1690308509457033),
 (46, 0.1690308509457033),
 (47, 0.0),
 (48, 0.0),
 (49, 0.0),
 (50, 0.0),
 (51, 0.0),
 (52, 0.0),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.0),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.0),
 (61, 0.0),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.0),
 (68, 0.0),
 (69, 0.1889822365046136),
 (70, 0.26726124191242434),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.0),
 (76, 0.1889822365046136),
 (77, 0.2182178902359924),
 (78, 0.2182178902359924),
 (79, 0.3779644730092272),
 (80, 0.1690308509457033),
 (81, 0.1889822365046136),
 (82, 0.1889822365046136),
 (83, 0.2182178902359924),
 (84, 0.1889822365046136),
 (85, 0.1889822365046136),
 (86, 0.1543033499620919),
 (87, 0.1543033499620919),
 (88, 0.1543033499620919),
 (89, 0.3086066999241838),
 (90, 0.1889822365046136),
 (91, 0.1889822365046136),
 (92, 0.1889822365046136),
 (93, 0.0),
 (94, 0.3380617018914066),
 (95, 0.3380617018914066),
 (96, 0.14285714285714282),
 (97, 0.14285714285714282),
 (98, 0.14285714285714282),
 (99, 0.14285714285714282),
 (100, 0.1543033499620919),
 (101, 0.1889822365046136),
 (102, 0.1889822365046136),
 (103, 0.13363062095621217),
 (104, 0.13363062095621217),
 (105, 0.13363062095621217),
 (106, 0.13363062095621217),
 (107, 0.13363062095621217),
 (108, 0.14285714285714282),
 (109, 0.14285714285714282),
 (110, 0.14285714285714282),
 (111, 0.14285714285714282),
 (112, 0.1690308509457033),
 (113, 0.1690308509457033),
 (114, 0.1543033499620919),
 (115, 0.1543033499620919),
 (116, 0.1543033499620919),
 (117, 0.1690308509457033),
 (118, 0.1690308509457033),
 (119, 0.1690308509457033),
 (120, 0.23904572186687872),
 (121, 0.4193139346887673),
 (122, 0.4193139346887673),
 (123, 0.1889822365046136),
 (124, 0.1889822365046136),
 (125, 0.1690308509457033),
 (126, 0.0),
 (127, 0.0),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (131, 0.0),
 (132, 0.0),
 (133, 0.14285714285714282),
 (134, 0.2182178902359924),
 (135, 0.5345224838248487),
 (136, 0.26726124191242434),
 (137, 0.3779644730092272),
 (138, 0.1543033499620919),
 (139, 0.0),
 (140, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.4364357804719848),
 (144, 0.4364357804719848),
 (145, 0.28571428571428564),
 (146, 0.3380617018914066),
 (147, 0.28571428571428564),
 (148, 0.2519763153394848),
 (149, 0.4558423058385518),
 (150, 0.4558423058385518),
 (151, 0.4558423058385518),
 (152, 0.4558423058385518),
 (153, 0.4558423058385518),
 (154, 0.4558423058385518),
 (155, 0.4558423058385518),
 (156, 0.4558423058385518),
 (157, 0.4558423058385518),
 (158, 0.5714285714285713),
 (159, 0.0),
 (160, 0.0),
 (161, 0.0),
 (162, 0.0),
 (163, 0.4558423058385518),
 (164, 0.4558423058385518),
 (165, 0.4558423058385518),
 (166, 0.4558423058385518),
 (167, 0.4558423058385518),
 (168, 0.4558423058385518),
 (169, 0.4558423058385518),
 (170, 0.4558423058385518),
 (171, 0.4558423058385518),
 (172, 0.1690308509457033),
 (173, 0.1690308509457033),
 (174, 0.1690308509457033),
 (175, 0.28571428571428564),
 (176, 0.28571428571428564),
 (177, 0.28571428571428564),
 (178, 0.0),
 (179, 0.0),
 (180, 0.0),
 (181, 0.1889822365046136),
 (182, 0.1889822365046136),
 (183, 0.1889822365046136),
 (184, 0.0),
 (185, 0.6761234037828132),
 (186, 0.2182178902359924),
 (187, 0.2182178902359924),
 (188, 0.2182178902359924),
 (189, 0.2182178902359924),
 (190, 0.2182178902359924),
 (191, 0.2182178902359924),
 (192, 0.2182178902359924),
 (193, 0.2182178902359924),
 (194, 0.14285714285714282),
 (195, 0.14285714285714282),
 (196, 0.14285714285714282),
 (197, 0.0),
 (198, 0.0),
 (199, 0.0),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.1889822365046136),
 (204, 0.5714285714285713),
 (205, 0.1690308509457033),
 (206, 0.1889822365046136),
 (207, 0.11952286093343936),
 (208, 0.14547859349066158),
 (209, 0.14547859349066158),
 (210, 0.14547859349066158),
 (211, 0.14547859349066158),
 (212, 0.1543033499620919),
 (213, 0.1543033499620919),
 (214, 0.1543033499620919),
 (215, 0.1543033499620919),
 (216, 0.1543033499620919),
 (217, 0.1543033499620919),
 (218, 0.1543033499620919),
 (219, 0.1889822365046136),
 (220, 0.3380617018914066),
 (221, 0.2182178902359924),
 (222, 0.1690308509457033),
 (223, 0.2182178902359924),
 (224, 0.2182178902359924),
 (225, 0.2182178902359924),
 (226, 0.3380617018914066),
 (227, 0.3380617018914066),
 (228, 0.2182178902359924),
 (229, 0.2182178902359924),
 (230, 0.3380617018914066),
 (231, 0.1889822365046136),
 (232, 0.1889822365046136),
 (233, 0.1889822365046136),
 (234, 0.1889822365046136),
 (235, 0.0),
 (236, 0.2182178902359924),
 (237, 0.0),
 (238, 0.0),
 (239, 0.0),
 (240, 0.0),
 (241, 0.0),
 (242, 0.0),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.0),
 (253, 0.0),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (257, 0.0),
 (258, 0.0),
 (259, 0.0),
 (260, 0.0),
 (261, 0.0),
 (262, 0.1543033499620919),
 (263, 0.0),
 (264, 0.0),
 (265, 0.0),
 (266, 0.0),
 (267, 0.6546536707079772),
 (268, 0.6546536707079772),
 (269, 0.6546536707079772),
 (270, 0.6761234037828132),
 (271, 0.14285714285714282),
 (272, 0.14285714285714282),
 (273, 0.1543033499620919),
 (274, 0.1543033499620919),
 (275, 0.1543033499620919),
 (276, 0.0),
 (277, 0.0),
 (278, 0.0),
 (279, 0.0),
 (280, 0.0),
 (281, 0.0),
 (282, 0.0),
 (283, 0.0),
 (284, 0.0),
 (285, 0.0),
 (286, 0.0),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.0),
 (295, 0.1889822365046136),
 (296, 0.1889822365046136),
 (297, 0.1889822365046136),
 (298, 0.1889822365046136),
 (299, 0.1889822365046136),
 (300, 0.1889822365046136),
 (301, 0.0),
 (302, 0.0),
 (303, 0.0),
 (304, 0.0),
 (305, 0.0),
 (306, 0.0),
 (307, 0.0),
 (308, 0.0),
 (309, 0.0),
 (310, 0.0),
 (311, 0.0),
 (312, 0.0),
 (313, 0.1543033499620919),
 (314, 0.1543033499620919),
 (315, 0.1543033499620919),
 (316, 0.1543033499620919),
 (317, 0.1543033499620919),
 (318, 0.14285714285714282),
 (319, 0.14285714285714282),
 (320, 0.1543033499620919),
 (321, 0.1543033499620919),
 (322, 0.1543033499620919),
 (323, 0.1543033499620919),
 (324, 0.1543033499620919),
 (325, 0.1543033499620919),
 (326, 0.3380617018914066),
 (327, 0.6761234037828132),
 (328, 0.6761234037828132),
 (329, 0.6761234037828132),
 (330, 0.1690308509457033),
 (331, 0.1690308509457033),
 (332, 0.1690308509457033),
 (333, 0.1690308509457033),
 (334, 0.1690308509457033),
 (335, 0.1690308509457033),
 (336, 0.1690308509457033),
 (337, 0.1690308509457033),
 (338, 0.1690308509457033),
 (339, 0.1690308509457033),
 (340, 0.1690308509457033),
 (341, 0.1690308509457033),
 (342, 0.1690308509457033),
 (343, 0.1690308509457033),
 (344, 0.0),
 (345, 0.0),
 (346, 0.0),
 (347, 0.0),
 (348, 0.0),
 (349, 0.0),
 (350, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.0),
 (354, 0.0),
 (355, 0.0),
 (356, 0.0),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.0),
 (362, 0.0),
 (363, 0.0),
 (364, 0.1543033499620919),
 (365, 0.1543033499620919),
 (366, 0.1543033499620919),
 (367, 0.1543033499620919),
 (368, 0.1543033499620919),
 (369, 0.0),
 (370, 0.0),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.0),
 (377, 0.0),
 (378, 0.0),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.1543033499620919),
 (387, 0.1543033499620919),
 (388, 0.1543033499620919),
 (389, 0.1889822365046136),
 (390, 0.1889822365046136),
 (391, 0.14285714285714282),
 (392, 0.14285714285714282),
 (393, 0.14285714285714282),
 (394, 0.14285714285714282),
 (395, 0.0),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.26726124191242434),
 (400, 0.26726124191242434),
 (401, 0.26726124191242434),
 (402, 0.1543033499620919),
 (403, 0.1543033499620919),
 (404, 0.1543033499620919),
 (405, 0.1543033499620919),
 (406, 0.1543033499620919),
 (407, 0.1543033499620919),
 (408, 0.08058229640253801),
 (409, 0.08058229640253801),
 (410, 0.0),
 (411, 0.0),
 (412, 0.0),
 (413, 0.0),
 (414, 0.1543033499620919),
 (415, 0.0),
 (416, 0.0),
 (417, 0.0),
 (418, 0.0),
 (419, 0.0),
 (420, 0.1543033499620919),
 (421, 0.1543033499620919),
 (422, 0.1690308509457033),
 (423, 0.1690308509457033),
 (424, 0.1690308509457033),
 (425, 0.1690308509457033),
 (426, 0.6761234037828132),
 (427, 0.6761234037828132),
 (428, 0.28571428571428564),
 (429, 0.28571428571428564),
 (430, 0.1889822365046136),
 (431, 0.1889822365046136),
 (432, 0.1889822365046136),
 (433, 0.1889822365046136),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.0),
 (439, 0.09166984970282112),
 (440, 0.09166984970282112),
 (441, 0.1543033499620919),
 (442, 0.1543033499620919),
 (443, 0.1543033499620919),
 (444, 0.2182178902359924),
 (445, 0.2182178902359924),
 (446, 0.1259881576697424),
 (447, 0.1889822365046136),
 (448, 0.1889822365046136),
 (449, 0.2182178902359924),
 (450, 0.1543033499620919),
 (451, 0.1543033499620919),
 (452, 0.1543033499620919),
 (453, 0.0),
 (454, 0.0),
 (455, 0.0),
 (456, 0.0),
 (457, 0.0),
 (458, 0.0),
 (459, 0.0),
 (460, 0.0),
 (461, 0.0),
 (462, 0.1543033499620919),
 (463, 0.1543033499620919),
 (464, 0.1543033499620919),
 (465, 0.0),
 (466, 0.0),
 (467, 0.0),
 (468, 0.0),
 (469, 0.0),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0),
 (473, 0.0),
 (474, 0.0),
 (475, 0.0),
 (476, 0.0),
 (477, 0.0),
 (478, 0.1690308509457033),
 (479, 0.1690308509457033),
 (480, 0.14285714285714282),
 (481, 0.1889822365046136),
 (482, 0.0),
 (483, 0.0),
 (484, 0.0),
 (485, 0.0),
 (486, 0.0),
 (487, 0.0),
 (488, 0.0),
 (489, 0.0),
 (490, 0.0),
 (491, 0.0),
 (492, 0.0),
 (493, 0.0),
 (494, 0.0),
 (495, 0.0),
 (496, 0.0),
 (497, 0.0),
 (498, 0.0),
 (499, 0.0),
 (500, 0.0),
 (501, 0.0),
 (502, 0.0),
 (503, 0.0),
 (504, 0.0),
 (505, 0.0),
 (506, 0.0),
 (507, 0.0),
 (508, 0.0),
 (509, 0.0),
 (510, 0.0),
 (511, 0.0),
 (512, 0.2182178902359924),
 (513, 0.2182178902359924),
 (514, 0.2182178902359924),
 (515, 0.2182178902359924),
 (516, 0.2182178902359924),
 (517, 0.2182178902359924),
 (518, 0.0),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.0),
 (523, 0.0),
 (524, 0.0),
 (525, 0.1543033499620919),
 (526, 0.1543033499620919),
 (527, 0.2182178902359924),
 (528, 0.2182178902359924),
 (529, 0.1889822365046136),
 (530, 0.1889822365046136),
 (531, 0.1889822365046136),
 (532, 0.1889822365046136),
 (533, 0.0),
 (534, 0.0),
 (535, 0.0),
 (536, 0.0),
 (537, 0.0),
 (538, 0.0),
 (539, 0.0),
 (540, 0.2182178902359924),
 (541, 0.2182178902359924),
 (542, 0.0),
 (543, 0.0),
 (544, 0.0),
 (545, 0.0),
 (546, 0.1259881576697424),
 (547, 0.1259881576697424),
 (548, 0.1259881576697424),
 (549, 0.1259881576697424),
 (550, 0.1889822365046136),
 (551, 0.1889822365046136),
 (552, 0.11952286093343936),
 (553, 0.11396057645963795),
 (554, 0.13363062095621217),
 (555, 0.13363062095621217),
 (556, 0.13363062095621217),
 (557, 0.1889822365046136),
 (558, 0.1889822365046136),
 (559, 0.1543033499620919),
 (560, 0.0),
 (561, 0.0),
 (562, 0.0),
 (563, 0.0),
 (564, 0.0),
 (565, 0.0),
 (566, 0.0),
 (567, 0.0),
 (568, 0.0),
 (569, 0.628970902033151),
 (570, 0.40406101782088427),
 (571, 0.40406101782088427),
 (572, 0.14285714285714282),
 (573, 0.0),
 (574, 0.0),
 (575, 0.0),
 (576, 0.0),
 (577, 0.0975900072948533),
 (578, 0.0),
 (579, 0.0),
 (580, 0.0),
 (581, 0.0),
 (582, 0.0),
 (583, 0.13363062095621217),
 (584, 0.0),
 (585, 0.0),
 (586, 0.0),
 (587, 0.0),
 (588, 0.0),
 (589, 0.0),
 (590, 0.0),
 (591, 0.0),
 (592, 0.1259881576697424),
 (593, 0.1543033499620919),
 (594, 0.0),
 (595, 0.0),
 (596, 0.0),
 (597, 0.0),
 (598, 0.0),
 (599, 0.0),
 (600, 0.0),
 (601, 0.0),
 (602, 0.0),
 (603, 0.0),
 (604, 0.07559289460184544),
 (605, 0.07559289460184544),
 (606, 0.07559289460184544),
 (607, 0.07559289460184544),
 (608, 0.0),
 (609, 0.0),
 (610, 0.0),
 (611, 0.0),
 (612, 0.0),
 (613, 0.0),
 (614, 0.0),
 (615, 0.0),
 (616, 0.0),
 (617, 0.1543033499620919),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0),
 (621, 0.0),
 (622, 0.0),
 (623, 0.1543033499620919),
 (624, 0.1543033499620919),
 (625, 0.1543033499620919),
 (626, 0.1543033499620919),
 (627, 0.1543033499620919),
 (628, 0.1543033499620919),
 (629, 0.0),
 (630, 0.0),
 (631, 0.0),
 (632, 0.0),
 (633, 0.0),
 (634, 0.0),
 (635, 0.0),
 (636, 0.1091089451179962),
 (637, 0.1091089451179962),
 (638, 0.1091089451179962),
 (639, 0.06681531047810609),
 (640, 0.06681531047810609),
 (641, 0.06681531047810609),
 (642, 0.06681531047810609),
 (643, 0.0),
 (644, 0.0),
 (645, 0.0),
 (646, 0.0),
 (647, 0.0),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.0),
 (653, 0.0),
 (654, 0.0),
 (655, 0.0),
 (656, 0.0),
 (657, 0.0),
 (658, 0.0),
 (659, 0.0),
 (660, 0.0),
 (661, 0.0),
 (662, 0.0),
 (663, 0.0),
 (664, 0.0),
 (665, 0.0),
 (666, 0.0),
 (667, 0.0),
 (668, 0.0),
 (669, 0.0),
 (670, 0.0),
 (671, 0.0),
 (672, 0.0),
 (673, 0.0),
 (674, 0.0),
 (675, 0.1889822365046136),
 (676, 0.1889822365046136),
 (677, 0.1889822365046136),
 (678, 0.1889822365046136),
 (679, 0.1259881576697424),
 (680, 0.1259881576697424),
 (681, 0.1259881576697424),
 (682, 0.0),
 (683, 0.0),
 (684, 0.0),
 (685, 0.0),
 (686, 0.0),
 (687, 0.0),
 (688, 0.0),
 (689, 0.0),
 (690, 0.1889822365046136),
 (691, 0.1889822365046136),
 (692, 0.1889822365046136),
 (693, 0.1889822365046136),
 (694, 0.1889822365046136),
 (695, 0.0),
 (696, 0.0),
 (697, 0.0),
 (698, 0.0),
 (699, 0.0),
 (700, 0.0),
 (701, 0.1781741612749496),
 (702, 0.1781741612749496),
 (703, 0.1781741612749496),
 (704, 0.1781741612749496),
 (705, 0.0),
 (706, 0.0),
 (707, 0.0),
 (708, 0.0),
 (709, 0.0),
 (710, 0.0),
 (711, 0.0),
 (712, 0.0),
 (713, 0.0),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.0),
 (718, 0.0),
 (719, 0.0),
 (720, 0.0),
 (721, 0.0),
 (722, 0.0),
 (723, 0.0),
 (724, 0.0),
 (725, 0.0),
 (726, 0.0),
 (727, 0.0),
 (728, 0.0),
 (729, 0.0),
 (730, 0.0),
 (731, 0.0),
 (732, 0.0),
 (733, 0.0),
 (734, 0.0),
 (735, 0.0),
 (736, 0.0657951694959769),
 (737, 0.0657951694959769),
 (738, 0.0657951694959769),
 (739, 0.0657951694959769),
 (740, 0.0657951694959769),
 (741, 0.09166984970282112),
 (742, 0.09166984970282112),
 (743, 0.09166984970282112),
 (744, 0.1889822365046136),
 (745, 0.1889822365046136),
 (746, 0.1889822365046136),
 (747, 0.0),
 (748, 0.0),
 (749, 0.0),
 (750, 0.0),
 (751, 0.0),
 (752, 0.0),
 (753, 0.0),
 (754, 0.0),
 (755, 0.0),
 (756, 0.0),
 (757, 0.1889822365046136),
 (758, 0.1889822365046136),
 (759, 0.1889822365046136),
 (760, 0.1889822365046136),
 (761, 0.0),
 (762, 0.0),
 (763, 0.0),
 (764, 0.0),
 (765, 0.0),
 (766, 0.0),
 (767, 0.0),
 (768, 0.0),
 (769, 0.0),
 (770, 0.0),
 (771, 0.1889822365046136),
 (772, 0.1889822365046136),
 (773, 0.1889822365046136),
 (774, 0.1889822365046136),
 (775, 0.1889822365046136),
 (776, 0.1889822365046136),
 (777, 0.08671099695241198),
 (778, 0.08671099695241198),
 (779, 0.07715167498104596),
 (780, 0.07715167498104596),
 (781, 0.0),
 (782, 0.0),
 (783, 0.0),
 (784, 0.0),
 (785, 0.0),
 (786, 0.10482848367219183),
 (787, 0.5855400437691198),
 (788, 0.5855400437691198),
 (789, 0.0),
 (790, 0.0),
 (791, 0.0),
 (792, 0.0),
 (793, 0.0),
 (794, 0.0),
 (795, 0.0),
 (796, 0.0),
 (797, 0.0),
 (798, 0.0),
 (799, 0.0),
 (800, 0.0),
 (801, 0.0),
 (802, 0.0),
 (803, 0.0),
 (804, 0.0),
 (805, 0.0),
 (806, 0.0),
 (807, 0.0),
 (808, 0.0),
 (809, 0.0),
 (810, 0.0),
 (811, 0.0),
 (812, 0.0),
 (813, 0.0),
 (814, 0.0),
 (815, 0.0),
 (816, 0.0),
 (817, 0.0),
 (818, 0.0),
 (819, 0.0),
 (820, 0.0),
 (821, 0.0),
 (822, 0.0),
 (823, 0.0),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0),
 (828, 0.0),
 (829, 0.0),
 (830, 0.0),
 (831, 0.0),
 (832, 0.0),
 (833, 0.0),
 (834, 0.0),
 (835, 0.0),
 (836, 0.0),
 (837, 0.0),
 (838, 0.0),
 (839, 0.0),
 (840, 0.0),
 (841, 0.0),
 (842, 0.0),
 (843, 0.0),
 (844, 0.0),
 (845, 0.0),
 (846, 0.0),
 (847, 0.0),
 (848, 0.0),
 (849, 0.0),
 (850, 0.0),
 (851, 0.0),
 (852, 0.0),
 (853, 0.0),
 (854, 0.0),
 (855, 0.0),
 (856, 0.0),
 (857, 0.0),
 (858, 0.0),
 (859, 0.0),
 (860, 0.0),
 (861, 0.0),
 (862, 0.0),
 (863, 0.0),
 (864, 0.0),
 (865, 0.0),
 (866, 0.0),
 (867, 0.0),
 (868, 0.0),
 (869, 0.0),
 (870, 0.0),
 (871, 0.0),
 (872, 0.0),
 (873, 0.0),
 (874, 0.0),
 (875, 0.0),
 (876, 0.0),
 (877, 0.0),
 (878, 0.0),
 (879, 0.0),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.0),
 (884, 0.0),
 (885, 0.0),
 (886, 0.0),
 (887, 0.0),
 (888, 0.0),
 (889, 0.0),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.0),
 (894, 0.0),
 (895, 0.0),
 (896, 0.0),
 (897, 0.0),
 (898, 0.0),
 (899, 0.0),
 (900, 0.0),
 (901, 0.0),
 (902, 0.0),
 (903, 0.0),
 (904, 0.0),
 (905, 0.0),
 (906, 0.0),
 (907, 0.0),
 (908, 0.0),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0),
 (912, 0.0),
 (913, 0.0),
 (914, 0.0),
 (915, 0.0),
 (916, 0.0),
 (917, 0.0),
 (918, 0.0),
 (919, 0.0975900072948533),
 (920, 0.0975900072948533),
 (921, 0.0975900072948533),
 (922, 0.0975900072948533),
 (923, 0.0975900072948533),
 (924, 0.0975900072948533),
 (925, 0.0975900072948533),
 (926, 0.0975900072948533),
 (927, 0.1543033499620919),
 (928, 0.1543033499620919),
 (929, 0.0975900072948533),
 (930, 0.0975900072948533),
 (931, 0.0975900072948533),
 (932, 0.0975900072948533),
 (933, 0.0975900072948533),
 (934, 0.0),
 (935, 0.0),
 (936, 0.0),
 (937, 0.0),
 (938, 0.0),
 (939, 0.0),
 (940, 0.0),
 (941, 0.0),
 (942, 0.0),
 (943, 0.0),
 (944, 0.0),
 (945, 0.0),
 (946, 0.0),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0),
 (950, 0.0),
 (951, 0.0),
 (952, 0.0),
 (953, 0.0),
 (954, 0.0),
 (955, 0.0),
 (956, 0.0),
 (957, 0.0),
 (958, 0.0),
 (959, 0.0),
 (960, 0.0),
 (961, 0.0),
 (962, 0.0),
 (963, 0.0),
 (964, 0.0),
 (965, 0.0),
 (966, 0.0),
 (967, 0.0),
 (968, 0.0),
 (969, 0.0),
 (970, 0.0),
 (971, 0.0),
 (972, 0.0),
 (973, 0.0),
 (974, 0.0),
 (975, 0.0),
 (976, 0.0),
 (977, 0.0),
 (978, 0.0),
 (979, 0.0),
 (980, 0.0),
 (981, 0.0975900072948533),
 (982, 0.0975900072948533),
 (983, 0.0975900072948533),
 (984, 0.0975900072948533),
 (985, 0.0975900072948533),
 (986, 0.0975900072948533),
 (987, 0.0975900072948533),
 (988, 0.0975900072948533),
 (989, 0.0),
 (990, 0.0),
 (991, 0.0),
 (992, 0.0),
 (993, 0.0),
 (994, 0.0),
 (995, 0.0),
 (996, 0.0),
 (997, 0.0),
 (998, 0.0),
 (999, 0.0),
 ...]

In [24]:
sorted_similar_user = sorted(similar_user,key=lambda x:x[1],reverse=True)

In [25]:
def get_title_from_index(index):
    return main_df[main_df.index == index]["title"].values[0]
f=[]
for element in sorted_similar_user:
    if element[1]<.5:
        continue
    f.append(get_title_from_index(element[0]))
for i in set(f):
    print(i)

Artificial Intelligence
Machine Learning”&“Operations" (MlOps)
7 Best Python Data Science Courses & Certification [2020]
MIS
GAN's INTRODUCTION
Stereoscopic and virtual-reality systems
8 Best Machine Learning Courses for 2020
Types Of AI.
10 Best Artificial Intelligence (AI) Courses Online for 2020
GAN's Part(2)
What sports will look like in the future
6 Best + Free PLC Programming Training & Course [2020 UPDATED]
Ml and AI
Learning...
What is Information technology?
CI/CD using GitHub Actions
Ethernet
Recommend Systems Machine Learning